/* --------------------------------------------------------------- */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
}

/* Toggle Menu Button Style -------------------------------------- */
#toggle-menu {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 6;
}

#toggle-menu i {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #444;
  background-image: url("./icons/round_menu_white_18dp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
}

/* Map Style ----------------------------------------------------- */
#map {
  height: 100vh;
  width: 80%;
}

/* InfoWindow Style ---------------------------------------------- */

.infowindow {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 250px;
}
.infowindow h2 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  width: 100%;
}

.infowindow h3 {
  font-size: 1rem;
  padding: 0;
  margin: 5px;
  width: 100%;
}

.infowindow img {
  background-color: #ccc;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.infowindow .location {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin: 5px;
  flex-grow: 1;
  text-align: right;
}

.infowindow a {
  width: 100%;
  text-align: center;
}

/* Side Bar Style ------------------------------------------------ */
#venue-list {
  width: 20%;
  min-width: 280px;
  color: #fff;
  background-color: #222;
  height: 100vh;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
#venue-list h1 {
  margin: 20px auto;
}

.search-input {
  font-size: 1em;
  width: 80%;
  height: 30px;
  padding: 0 10px;
  margin: 0 auto;
}

#venue-list ul {
  background-color: #303030;
  padding: 0 10px;
  height: 63%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#venue-list li {
  list-style: none;
  /* border-top: solid 1px #ccc; */
  border-bottom: solid 1px #ccc;
  padding: 20px;
  /* margin: 10px; */
}

#venue-list li:hover {
  cursor: pointer;
  background-color: #444;
}

#venue-list img {
  width: 90%;
  padding: 0 10px;
  margin: auto 0 20px;
}

/* Media Query --------------------------------------------------- */
@media (max-width: 425px) {
  main {
    display: block;
    position: relative;
  }

  #toggle-menu {
    /* display: none; */
  }

  #map {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
  }

  #venue-list {
    z-index: 5;
    position: absolute;
    /* transform: translate(-300px, 0); */
    transform: translate(0, 0);
  }
}
